@tailwind base;
@tailwind components;
@tailwind utilities;

.productsImg {
  height: 315px;
  width: 330px;
}

.home-bg-img {
  height: 100vh;
}

.singleProduct__img {
  height: 600px;
  width: 630px;
}

